@model dynamic

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")
<body>
<div class="wrapper">
  @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
  @await Component.InvokeAsync("_AdminLayoutHeaderComponentPartial")
  <div class="page-content-wrapper">

    <div class="page-content">
      @await Component.InvokeAsync("_AdminLayoutBreadCrumbComponentPartial")
      
      
@RenderBody()
      
      
    </div>
  </div>
  @await Component.InvokeAsync("_AdminlayoutSwitcherComponentPartial")
</div>
@await Component.InvokeAsync("_AdminLayoutScriptsComponentPArtial")
</body>
</html>