
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="/ltr/assets/images/logo-icon-2.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Fobia</h4>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="index.html">
                <div class="parent-icon">
                    <ion-icon name="home-outline"></ion-icon>
                </div>
                <div class="menu-title">Ana Sayfa</div>
            </a>
        </li>

        <li class="menu-label">İçerik Yönetimi</li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="film-outline"></ion-icon>
                </div>
                <div class="menu-title">Filmler</div>
            </a>
            <ul>
                <li>
                    <a href="movies-list.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Tüm Filmler
                    </a>
                </li>
                <li>
                    <a href="movies-add.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Yeni Film Ekle
                    </a>
                </li>
                <li>
                    <a href="movies-categories.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Film Kategorileri
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="tv-outline"></ion-icon>
                </div>
                <div class="menu-title">Diziler</div>
            </a>
            <ul>
                <li>
                    <a href="series-list.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Tüm Diziler
                    </a>
                </li>
                <li>
                    <a href="series-add.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Yeni Dizi Ekle
                    </a>
                </li>
                <li>
                    <a href="series-seasons.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Sezon Yönetimi
                    </a>
                </li>
                <li>
                    <a href="series-episodes.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Bölüm Yönetimi
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="categories.html">
                <div class="parent-icon">
                    <ion-icon name="pricetags-outline"></ion-icon>
                </div>
                <div class="menu-title">Kategoriler</div>
            </a>
        </li>

        <li>
            <a href="actors.html">
                <div class="parent-icon">
                    <ion-icon name="people-outline"></ion-icon>
                </div>
                <div class="menu-title">Oyuncular</div>
            </a>
        </li>

        <li class="menu-label">Kullanıcı & Yorum Yönetimi</li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="person-outline"></ion-icon>
                </div>
                <div class="menu-title">Kullanıcılar</div>
            </a>
            <ul>
                <li>
                    <a href="users-list.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Tüm Kullanıcılar
                    </a>
                </li>
                <li>
                    <a href="users-active.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Aktif Kullanıcılar
                    </a>
                </li>
                <li>
                    <a href="users-banned.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Yasaklı Kullanıcılar
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                </div>
                <div class="menu-title">Yorumlar</div>
            </a>
            <ul>
                <li>
                    <a href="comments-all.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Tüm Yorumlar
                    </a>
                </li>
                <li>
                    <a href="comments-pending.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Onay Bekleyenler
                    </a>
                </li>
                <li>
                    <a href="comments-reported.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Şikayet Edilenler
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="ratings.html">
                <div class="parent-icon">
                    <ion-icon name="star-outline"></ion-icon>
                </div>
                <div class="menu-title">Değerlendirmeler</div>
            </a>
        </li>

        <li class="menu-label">AI & Analitik</li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="analytics-outline"></ion-icon>
                </div>
                <div class="menu-title">Veri Analitiği</div>
            </a>
            <ul>
                <li>
                    <a href="analytics-overview.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Genel Bakış
                    </a>
                </li>
                <li>
                    <a href="analytics-user-behavior.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Kullanıcı Davranışı
                    </a>
                </li>
                <li>
                    <a href="analytics-content-performance.html">
                        <ion-icon name="ellipse-outline"></ion-icon>İçerik Performansı
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="bulb-outline"></ion-icon>
                </div>
                <div class="menu-title">AI Öneriler</div>
            </a>
            <ul>
                <li>
                    <a href="ai-recommendations.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Öneri Motoru
                    </a>
                </li>
                <li>
                    <a href="ai-predictions.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Tahminleme Modeli
                    </a>
                </li>
                <li>
                    <a href="ai-sentiment-analysis.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Duygu Analizi
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-label">Raporlar & Ayarlar</li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <ion-icon name="bar-chart-outline"></ion-icon>
                </div>
                <div class="menu-title">Raporlar</div>
            </a>
            <ul>
                <li>
                    <a href="reports-daily.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Günlük Rapor
                    </a>
                </li>
                <li>
                    <a href="reports-monthly.html">
                        <ion-icon name="ellipse-outline"></ion-icon>Aylık Rapor
                    </a>
                </li>
                <li>
                    <a href="reports-content.html">
                        <ion-icon name="ellipse-outline"></ion-icon>İçerik Raporu
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="settings.html">
                <div class="parent-icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </div>
                <div class="menu-title">Ayarlar</div>
            </a>
        </li>

        <li>
            <a href="profile.html">
                <div class="parent-icon">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </div>
                <div class="menu-title">Profilim</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</aside>